
<footer role="contentinfo" id="fh5co-footer">
    <div class="container" id="footer-animate">
    <div class="row row-padded">
		<div class="col-md-8 col-md-push-4" style="margin-bottom:2%;color:rgb(200,200,200)">
			<p class="to-animate">&copy; WishingWall.</p>
			<p class="to-animate">Written by: <a href="https://github.com/chanchancl/Wishing-wall/" target="_blank">chanchancl</a> &amp; Powered by:<a href="http://www.djangoproject.com" target="_blank">Django</a></p>
		</div>
	</div>
</div>
<!-- END .container -->
</footer>

<script src="http://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--<script src="/static/js/jquery-1.12.3.js"></script>
<script src="/static/js/bootstrap.js"></script>-->
