<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
        <style>
        body {
          background-color: darkgray;
          background-image: url(/static/image/camouflage.png)
        }
        /*.container {
          background-color: darkgray
        }*/
        </style>
    </head>