
{% include "basehead.html" %}

<title>许愿墙</title>
    <body style="background-image:url(/static/image/camouflage.png)">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <!-- Header -->
               
                <div class="page-header" id='pageheader'>
                    <div>
                    <h1 style="color:white">许 愿 墙 <small>The Wishing Wall</small></h1> 
                    <p>
                    <a href="/add/" id="add" type="button" class = "btn btn-lg btn-success">
                        许下愿望
                    </a>
                    <a href="/del/" id="del" type="button" class = "btn btn-lg btn-danger">
                        删除愿望
                    </a>
                    </p>
                    </div>
                </div>
              </div> 
              <!--<div class="col-md-4">
                <img class="img-responsive" src="/static/image/1.jpg"></img>
              </div> -->
            </div>
            <hr style="margin-top:0px"></hr>
            <!-- Page Start -->
            <div class="cow">
              <div class="col-sm-6 col-md-4" id="test1">
                <div class="thumbnail" >
                  <div class="caption" style='background-color:#D9EDF7'>
                    
                    <h3 class="thumbtext">希望自己永远不要变成我讨厌的人。</h3>
                    <p class="text-right" style="margin-bottom:0px"><small>ID:1</small></p>
                    <p class="text-right" style="margin-bottom:0px"><small>2016.5.2 21:41</small></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" >
                  <div class="caption" style='background-color:#D9EDF7'>
                    
                    <blockquote>希望自己永远不要变成我讨厌的人。<small class="text-right">Ccl </small></blockquote>
                    <p class="text-right" style="margin-bottom:0px"><small>ID:1</small></p>
                    <p class="text-right" style="margin-bottom:0px"><small>2016.5.2 21:41</small></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Test label</h3>
                    <p>...</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>反正我是不知道为啥"qqqqqqqqqqqqqqqqqqqq qqqqqqqqqqqqqq qqqqqqqqqqqqwwwwwwwwww wwwwwwwwww wwwwwwww wwww wwwwwwwww wwww wwwwww www wwwwwwwwww wwwwwww"没办法自动换行。。。</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>BaseCommand的主要方法有：create_parser run_from_argv  execute  add_arguments  来解析参数的具体含义。等BaseCommmand内部使用OptionParser或CommandParser（使用哪一个取决于这个类的 bool(self.option_list) 的值）</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>BaseCommand的主要方法有：create_parser run_from_argv  execute  add_arguments  来解析参数的具体含义。等BaseCommmand内部使用OptionParser或CommandParser（使用哪一个取决于这个类的 bool(self.option_list) 的值）</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>BaseCommand的主要方法有：create_parser run_from_argv  execute  add_arguments  来解析参数的具体含义。等BaseCommmand内部使用OptionParser或CommandParser（使用哪一个取决于这个类的 bool(self.option_list) 的值）</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>BaseCommand的主要方法有：create_parser run_from_argv  execute  add_arguments  来解析参数的具体含义。等BaseCommmand内部使用OptionParser或CommandParser（使用哪一个取决于这个类的 bool(self.option_list) 的值）</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style='background-color:#D9EDF7'>
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>BaseCommand的主要方法有：create_parser run_from_argv  execute  add_arguments  来解析参数的具体含义。等BaseCommmand内部使用OptionParser或CommandParser（使用哪一个取决于这个类的 bool(self.option_list) 的值）</p>
                    
                  </div>
                </div>
              </div>
            </div>
            
        </div>
        {% include "baseend.html" %}
        <!--<script type="text/javascript" src="http://www.w3cschool.cc/try/jeasyui/jquery.easyui.min.js"></script>-->
    </body>
    <style>
    .thumbtext{
        margin-top:0px
    }
    blockquote{
        border-left-color:gray
    }
    </style>
    <script>
        #$('.col-sm-6').draggable();  #没啥用啊。。
        console.log($("#pageheader"))
        $("#pageheader").css("border-bottom",'0'); //删除 width 属性
        $(function(){
            console.log('Run here?')
        });
    </script>
</html>