
{% include "basehead.html" %}
{% load staticfiles %}

<title>许愿墙</title>
    <body style="background-image:url({% static 'image/camouflage.png' %})">
    
        <div class="container" style="margin-top:5%; background-color:#1f1f1f">
            <!-- Header -->
             
             <div class="page-header" id='pageheader'>
                 <div style="margin:0 7.6%">
                     <h1 style="color:rgb(187, 187, 187);">许 愿 墙 <small>The Wishing Wall</small></h1> 
                     <p>
                     <a href="/add/" id="add" type="button" class = "btn btn-lg btn-primary">
                         许下愿望
                     </a>
                     <a href="/del/" id="del" type="button" class = "btn btn-lg btn-danger">
                         删除愿望
                     </a>
                     </p>
                 </div>
             </div>
           <!--<div class="col-md-4">
             <img class="img-responsive" src="/static/image/1.jpg"></img>
           </div> <hr style="margin-top:0px"></hr>-->
            
            <!-- Page Start -->

            <div class="cow container" style="padding:0 5%;">
              <div>
              {%for wishing in wishings %}
                  <div class="col-sm-6 col-md-4" >
                    <div class="thumbnail" >
                      <div class="caption">
                        {% load emoji_tags %}
                        <h3 class="thumbtext">{{wishing.text|emoji_replace_unicode}}</h3>
                        <p class="text-right" style="margin-bottom:0px"><small>ID:{{wishing.id}}</small></p>
                        <p class="text-right" style="margin-bottom:0px"><small>{{wishing.date|date:"Y m j,H:i"}}</small></p>
                      </div>
                    </div>
                  </div>
              {% endfor %} 
              </div>
            </div>
            
        {% include "baseend.html" %}
        </div>
   
        <!--<script type="text/javascript" src="http://www.w3cschool.cc/try/jeasyui/jquery.easyui.min.js"></script>-->
    </body>
    <style>
    .emoji{
        width:29.694px
    }
    .caption{
        background-color:#D9EDF7;
    }
    .thumbnail{
        background-color:#CCFF99;
        padding:2px;
    }
    
    .thumbtext{
        margin-top:0px
    }
    
    blockquote{
        border-left-color:gray
    }
    </style>
    <script>
        //$('.col-sm-6').draggable();  #没啥用啊。。
        console.log($("#pageheader"))
        $("#pageheader").css("border-bottom",'0'); //删除 width 属性
        $(function(){
            console.log('Run here?')
        });
    </script>
</html>