
{% include "basehead.html" %}

<title>许愿墙</title>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="page-header">
                    <div>
                    <h1>许愿墙 <small>The Wishing Wall</small></h1> 
                    <p>
                    <a href="/add/" id="add" type="button" class = "btn btn-lg btn-success">
                        许下愿望
                    </a>
                    <a href="/del/" id="del" type="button" class = "btn btn-lg btn-danger">
                        删除愿望
                    </a>
                    </p>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <p>can be a picture</p>
              </div>
            </div>

        </div>
        {% include "baseend.html" %}
    </body>
</html>