
{% include "basehead.html" %}
{% load staticfiles %}

<link href="{% static 'css/style.css'%}" rel="stylesheet">

<title>Info & Log </title>
   <body style="background-image:url({% static 'image/background.jpg' %})">
    <div name="container" class="container" style="min-height:90%" >
        <div class="page-header" id='pageheader' style='text-align:center;'>
            <div style="margin:0 7.6%">
                <h1 style="color:rgb(187, 187, 187);">
                    <a href="/" title="许 愿 墙" style="color:rgb(187, 187, 187);">许 愿 墙</a>
                    </h1> 
                    <p>
                     <a href="/add/" id="add" type="button" class = "btn btn-lg btn-success">
                         <!--许下愿望-->
                     </a>
                     <a href="/del/" id="del" type="button" class = "btn btn-lg btn-danger">
                         <!--删除愿望-->
                     </a>
                     <a href="/info/" id="info" type="button" class = "btn btn-lg btn-primary">
                         <!--许下愿望-->
                     </a>
                     </p>
                    <h2 style="text-align:center"><small>Info & Log</small></h2>
                    
                </div>
        </div>
        <div class="Container" style="padding:0% 10% 0 10%;">
            <h1><p>新年快乐~</p></h>
			<p>新的一年，要更加努力！</p>
        </div>
        <div style="margin:33%">
            <p> </p>
        </div>
        
        {% include "baseend.html" %}
    </div>
    </body>
</html>